.wrapper{
    width: 100vw;
    height: 100vh;
    background: #AAAAAA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 900px;
    height: 400px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.left_container{
    width: 50%;
    height: 100%;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
}

.left_container button {
    width: 100%;
    padding: 15px 15px;
    background-color: #33CC66;
    color: white;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left_container button:active{

    opacity: 0.9;
}

.left_container button:active{

    scale: 0.9;
}
.left_container input {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 0.2rem;
    background-color: #DDDDDD;
    border: 1px solid transparent;
    outline: none;
    font-size: 1rem;
    box-sizing: border-box; 
    transition: border-color 0.3s ease;
}

.left_container input:focus {
    border: 1px solid #33CC66;
}


.right_container{
    width: 50%;
    height: 100%;
    background: #33CC66;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    text-align: center;
}

.right_container button{
    border: none;
    border-radius: 2rem;
    padding: 10px 15px;
    background-color: transparent;
    color: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
}


.right_container button:hover {
    background-color: #DDDDDD;
    color: #33CC66;
    transition: all 0.3s ease;
}

.img_box{
    height: 50px;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
}

img{
    height: 40px;
    width: auto;
}
